body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 500px;
}

h1 {
    color: #4CAF50;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#menuRecommendation {
    margin-top: 30px;
    font-size: 1.2em;
    font-weight: bold;
    color: #666;
}

hr {
    margin: 40px 0;
    border: 0;
    border-top: 1px solid #ddd;
}

.fs-form {
    display: grid;
    gap: 20px;
}

.fs-layout__2-column {
    grid-template-columns: repeat(2, 1fr);
}

.fs-fieldset-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    grid-column: 1 / -1;
    text-align: left;
}

.fs-field {
    display: flex;
    flex-direction: column;
}

.col-span-full {
    grid-column: 1 / -1;
}

.fs-label {
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

.fs-input,
.fs-select,
.fs-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Aggiunto per un corretto box model */
}

.fs-checkbox-field {
    display: flex;
    align-items: center;
    grid-column: 1 / -1;
}

.fs-checkbox-wrapper {
    margin-right: 10px;
}

.fs-button-group {
    grid-column: 1 / -1;
    text-align: right;
}

.fs-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.fs-button:hover {
    background-color: #45a049;
}